<div id="<%= dom_id position %>">
  <p>
    <strong>Title:</strong>
    <%= position.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= position.description %>
  </p>

  <p>
    <strong>Responsibilities:</strong>
    <%= position.responsibilities %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= position.requirements %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= position.salary %>
  </p>

</div>
