 <div class="container d-block justify-content-center align-items-center">   
    <p style="color: green"><%= notice %></p>

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col">
      <%= render @position %>   

    <nav class="nav pt-3 pb-3"> 
            <% if user_signed_in? %>  
              <div class="d-flex">           
                <%= button_to "Postular", apply_to_position_position_url(@position, current_user), method: :post, class: "btn btn btn-secondary text-white mt-2 ms-3" %>            
              </div>
            <% end %>
            <% if current_user.admin? || current_user.id == @position.user_id %>          
              <div class="d-flex">
                <%= button_to "Editar", edit_position_path(@position), method: :get, class: "btn btn btn-secondary mt-2 ms-3" %>
                <%= button_to "Eliminar", position_path(@position), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn btn-secondary  mt-2 ms-3 me-5" %>      
                <div class="card text-bg-tertiary mb-3 mt-5 ms-3" style="max-width: 18rem;">
                  <div class="card-header">Postulaciones</div>
                    <div class="card-body">        
                      <h5 class="card-title"></h5>
                      <p class="card-text">
                        <% if @positions %>
                          <% @positions.each do |position| %>
                            <%= render partial: 'position/apply_show', locals: { position: position } %>
                            <%= link_to "Ver", position.user, class: "nav-link" %>
                          <% end %>
                        <% else %>
                          <p><%= flash.now[:notice] %></p>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>  
            <% end %>   
          </nav>
          
    </div>
    <div class="col-3">          
    </div> 
</div>
